<% const now = new Date()
const dd = String(now.getDate()).padStart(2, '0')
const mm = String(now.getMonth() + 1).padStart(2, '0') //January is 0!
const yyyy = now.getFullYear()
const hh = String(now.getHours()).padStart(2, '0')
const ms = String(now.getMinutes()).padStart(2, '0')

const timestamp = dd + '-' + mm + '-' + yyyy + '_' + hh + ms

%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avocado - Restore configuration</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>

<body>
<%- include('partials/header') %>

<main>
    <h1>Restore your configuration from a back-up</h1>
    <p>This allows you to upload a previous backup of your configuration file.</p>
    <p>You may want to <a href="<%- configURL %>" download="config-<%=timestamp%>.json">download a backup</a> of your current configuration first.</p>
    
    
    <h2>Select your back-up file</h2>
    <form action="/config/restore" method="post" enctype="multipart/form-data">
        <p>
            <label for="configfile">Configuration file</label>
            <input name="configfile" id="configfile" type="file" required accept=".json">
        </p>
        <p class="message">Be careful, your current configuration will be overwritten!</p>
        <input class="primarybutton" type="submit" value="Restore Backup">

    </form>
</main>
</body>
</html>