<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avocado - Restore configuration</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>

<body>
<%- include('partials/header') %>

<main>
    <h1>Restore your configuration from a back-up</h1>
    <p>This allows you to upload a previous backup of your configuration file.</p>
    <p>You may want to <a href="<%- configURL %>" download="config-<%=timestamp%>.json">download a backup</a> of your current configuration first.</p>
    
    
    <h2>Select your back-up file</h2>
    <form action="/config/restore" method="post" enctype="multipart/form-data">
        <% if(saved == 'error'){ %>
            <p class="message">Couldn't read your config file (invalid JSON), please try another file.</p>
        <% } %> 
        <p>
            <label for="configfile">Configuration file</label>
            <input name="configfile" id="configfile" type="file" required accept=".json">
        </p>
        <p class="message">Be careful, your current configuration will be overwritten!</p>
        <input class="primarybutton" type="submit" value="Restore Backup">

    </form>
</main>
</body>
</html>