<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avocado - AI Models</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>

<body>
<%- include('partials/header') %>

<main>
    <h1>Sorry, nothing here yet</h1>
</main>
</body>
</html>