<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recogniser</title>
    <link href="./css/styles.css" rel="stylesheet">
    <script src="./script/colorMixer.js"></script>
    <script>const config = <%- config %> </script>
    <script>const userPath = '<%- userPath %>' </script>
    <script type="module" src="<%- detectionScript %>"></script>
    <link rel="icon" type="image/x-icon" href="/image/favicon.ico">
</head>
<body>
<%- include('partials/header') %>

<main>
  <h1>Recognize hand gestures or objects using MediaPipe</h1>
  <p>Use your hand to make gestures or place objects in front of the camera.</p>

  <div class="columns">

    <section id="demos">
      <h2>Detection</h2>
        <button id="webcamButton">DISABLE RECOGNITION</button>
        <div class="videocontainer">
          <video id="webcam" autoplay playsinline></video>
          <canvas id="output_canvas" width="1280" height="720"></canvas>
        </div>
        <p id='webcamPredictions' class="output">
        </section>

    <section>
      <h2>Output</h2>
      <div class="response">
        <p id='responseText'></p>
        <p id='responseColor'></p>
    </section>

  </div>

</main>
</body>
</html>

