/* page styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --color-white: white;
  --color-lightest: #efeff7;
  --color-light:#185b96;
  --color-dark: #351fb7;
  --color-darker: #25167a;
  --color-darkest: #1E1649;
  --color-accent1: #f35279;
  --color-accent2: #02857d;
  --color-accent3: #d54300;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  margin: 2em auto;
  padding-left: 2em;
  padding-right: 2em;
  background-color: var(--color-white);
  color: var(--color-darkest);
  max-width: 1400px;
}

h1 {
  color: var(--color-accent2)
}

h2 {
  color: var(--color-accent2)
}

a {
  color: var(--color-darker);
}

a:visited {
  color: var(--color-darker);
}

a:hover {
  color: var(--color-light);
}

.primarybutton {
  display: block;
  border-radius: 0.4em;
  padding: 0.5em 2em;
  color: white;
  background-color: var(--color-darker);
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 250ms ease;
  margin: 1em 0em;
}

.primarybutton:hover {
  background-color: var(--color-light);
}

.primarybutton:active {
  transform: translateY(1px);
}

.hidden {
  display: none;
}

/* header styles */
.utilitynav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.utilitynav p {
  font-size: 1.1rem;
  font-weight: 600;
}

.logo {
  width: 30em;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content:center;
  gap: 3em;
  padding: 0;
}

nav li {
  display: block;
  width: 10em;
  padding: 1em 0em;
  text-align: center;
  transition: all 250ms ease;
}

nav a {
  text-decoration: none;
  color: var(--color-darkest);
  font-size: 1.2em;
  font-weight: 800;
  padding: 0.1em 0em;
}

nav a:hover {
  color: var(--color-darkest);
  border-bottom: 4px solid var(--color-darkest);
}

nav a.active {
  border-bottom: 4px solid var(--color-darkest);
}



/* form styles */
label {
  display: block;
  margin: 0.2rem 0rem;
}

label.inline {
  display: inline;
}

.message {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-accent1);
}

input, select {
  margin: 0.2rem 1rem 0.2rem 0rem;
}

.params input[type="number"] {
  width: 3em;
}

.params select {
  min-width: 17em;
}

.rows {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 0;
  display: flex;
  justify-content:flex-start;
  max-width: 50rem;
}

.rows:nth-of-type(odd) {
  background-color: #EEEEEE;
}

.rows button {
  margin-left: auto;
  margin-right: 0.2em;
}

#formButtons {
  margin-top: 0.8em;
}

#formButtons > button {
  padding: 0.3rem 1.5rem;
}

#formButtons > div {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 50rem;
}



/* detector styles */
.columns {
  display: flex;
  gap: 2rem;
}

.columns section {
  background-color: var(--color-lightest);
  padding: 1rem 1.5rem;
}

.columns h2 {
  color: var(--color-accent1);
  margin-top: 0rem;
}

.response {
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  width: 20em;
  font-size: 1.1rem;
}

#responseColor {
  border: 2px solid black;
  border-radius: 2em;
  width: 3em;
  height: 3em;
  background-color: black;
}

video {
  display: block;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.videocontainer {
  position: relative;
}

canvas {
  position: absolute; 
  left: 0px; 
  top: 0px;
  z-index: 1;
  pointer-events: none;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.output {
  font-size: 1.1rem;
  min-height: 6rem;
}

